/* General */
:root {
  --color-primary: #2c3e50;
  --color-secondary: #1abc9c;
  --color-white: #ffffff;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

/* Utilities */
.debug {
  background-color: rgba(50, 205, 50, 0.6);
  border: 1px solid gray;
}

.debug-img {
  height: 200px;
}

.container_cs {
  margin: 0 auto;
  width: 60%;
}

.my_bg {
  background-color: var(--color-primary) !important;
}

.mt_90 {
  margin-top: 90px;
}

/* Header */
header {
  height: 90px;
}

/* Main */
.hero,
section {
  padding: 40px 0;
}

.card_cs {
  background-color: aquamarine;
  height: 360px;
}

.my_form input,
.my_form textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_btn {
  background-color: #1abc9c;
  border: none;
}

.my_btn:hover {
  background-color: #169e83;
}
