/* General */

/* Utilities */
.debug {
  background-color: rgba(50, 205, 50, 0.6);
  border: 1px solid gray;
}

.debug-img {
  height: 200px;
}

.container_cs {
  margin: 0 auto;
  max-width: 600px;
  width: 80%;
}

/* Header */
header {
  height: 90px;
}

.mt_90 {
  margin-top: 90px;
}

/* Main */
.debug .card {
  background-color: aquamarine;
  height: 360px;
}
