/* General */
:root {
  --color-primary: #2c3e50;
  --color-primary-light: #3a546d;
  --color-secondary: #1abc9c;
  --color-secondary-transparent: rgba(26, 188, 156, 0.5);
  --color-secondary-dark: #15a185;
  --color-white: #ffffff;

  --color-card-1: #ba4b63;
  --color-card-2: #1ea4b6;
  --color-card-3: #140f0f;
  --color-card-4: #1c83c1;
  --color-card-5: #0e38b5;
  --color-card-6: #ccb2a3;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

/* Utilities */
.container_cs {
  margin: 0 auto;
  width: 60%;
}

.my_bg-primary {
  background-color: var(--color-primary) !important;
  color: var(--color-white);
}

.my_bg-primary-light {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

.my_section-colored {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.my_section-white {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.mt_90 {
  margin-top: 90px;
}

.my_text-color {
  color: var(--color-secondary);
}

/* Header */
header {
  height: 90px;
}

/* ---- Main ---- */
.hero,
section {
  padding: 40px 0;
}

.upper-footer {
  padding: 60px 0;
}

/* Hero */
.img-box {
  height: 265px;
}

.star-box {
  position: relative;
}

.star-box i {
  position: relative;
}

.star-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 19%);
  transform: translateY(-50%);
  border: 2px solid var(--color-white);
  border-radius: 10px;
  display: inline-block;
  width: 15%;
}

.star-box::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(50% - 19%);
  transform: translateY(-50%);
  border: 2px solid var(--color-white);
  border-radius: 10px;
  display: inline-block;
  width: 15%;
}

.my_section-white .star-box::before,
.my_section-white .star-box::after {
  border-color: var(--color-primary);
}

/* Section Portfolio */
.my_mask {
  background-color: var(--color-secondary-transparent);
  display: none;
}

.my_mask i {
  font-size: 5rem;
}

.my_card:hover .my_mask {
  display: block;
}

.card_bg-1 {
  background-color: var(--color-card-1);
}

.card_bg-2 {
  background-color: var(--color-card-2);
}

.card_bg-3 {
  background-color: var(--color-card-3);
}

.card_bg-4 {
  background-color: var(--color-card-4);
}

.card_bg-5 {
  background-color: var(--color-card-5);
}

.card_bg-6 {
  background-color: var(--color-card-6);
}

/* Section Contact */
.my_form input,
.my_form textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: var(--color-primary);
  font-size: 1.2rem;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
  border-color: var(--color-secondary);
}

/* Footer */
footer li {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  border: 1px solid var(--color-white);
  margin: 6px;
}

.lower-footer {
  height: 100px;
  font-size: small;
}

/* Buttons */
.my_btn {
  background-color: var(--color-secondary);
  border: none;
  color: var(--color-white);
}

.my_btn:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}

.my_btn_outline:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

/* Media query */
@media screen and (min-width: 768px) {
  header .navbar-brand {
    font-size: 1.8rem !important;
  }

  .hero {
    font-size: 1.5rem !important;
  }

  .hero .my_title {
    font-size: 3.5rem !important;
  }

  section .my_title {
    font-size: 3rem !important;
  }
}
